
.title{
    color:rgb(145, 11, 89);
    margin: 5px;
}
.donationbox{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    width:40%;
    align-items: center;
}

.donationbox .form-control{
    background: transparent;
    border: none;
    height: 50px;
    width: 90%;
    padding: 0px 20px;
    font-size:16px;
   color:#070707;
   box-shadow: -6px -6px 10px rgb(255,255,255,0.03),
   6px 6px 10px rgb(10,8,10,0.08),
 inset  -6px -6px 10px rgb(255,255,255,0.05),
  inset 6px 6px 10px rgb(12,8,12,0.08);

}
.input .form-control:focus{
    outline: none;

}
.btn-success{
    margin-left: 15px;
    cursor: pointer;
    font-size: 30px;

}

.cont_label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: #111011;
    background: #fefbff;
    border-radius: 5px;
    overflow: hidden;
    /* margin-top: 15px; */
    margin-left: 10px;
    box-shadow: 0px 5px 10px rgb(0,0, 0,0.55);
}



