{% extends 'home/index.html' %} {% load static %}

<head>
    <title>Login</title>
    {% block style %}
    <link rel="stylesheet" href="{% static '/css/login.css' %}"> {% endblock %}
</head>

<body>
    {% block content %}
    <br><br><br>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 card login-form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <h1 class="text-center">Sign in</h1>
                        <hr> {{ form }}
                    </div>
                    <div class="text-center">
                        <button type="submit " class="btn btn-primary">Login</button> <br><br>
                        <button type="submit " class="fab fa-facebook-f btn btn-primary">&nbsp; Login With Facebook</button><br>
                        <a href="{% url 'password_reset' %}">Forgot your password?</a>
                        <label for="signup ">Don't have an account? <a href="signup">Sign up</a> </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>