{% extends 'home/index.html' %} {% load static %}

<head>
    <title>Register</title>
    {% block style %}
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">{% endblock %}
</head>

<body>
    {% load crispy_forms_tags %} {% block content %}
    <br><br>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 card login-form">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h1 class="border-bottom mb-40 text-center">Registeration</h1>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Confirm</button>
                    </div>
                </form>
                <div class="border-top-pt-3">
                    <small class="text-muted">
                        Already Have Account? <a class="ml-2" href="login">
                        Sign In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br> {% endblock %}
</body>