{% extends 'home/index.html' %} {% load static %} {% block style %}


<link rel="stylesheet" href="{% static 'home/css/ho.css'%}"> {% endblock %} {% block content %}

<div class="container-fluid ">
    <!-- start OF Container -->
    <!-- start of Carosel slide -->
    <div id="demo" class="carousel slide text-center" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'home/images/1.jpg' %}" alt="crowdfunding">
                <div class="carousel-caption">
                    <h1>CrowdFunding</h1>
                    <p style="font-size:30px;font-weight:bold;">The practice of funding a project or venture by raising small amounts of money from a large number of people</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/2.jpg' %}" alt="crowdfunding">
                <div class="carousel-caption">
                    <h2>Help</h2>
                    <p style="font-size:30px;font-weight:bold;">We need Your Aid to Help Poor People</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/3.jpg' %}" alt="crowdfunding">
                <div class="carousel-caption">
                    <h1>Donation</h1>
                    <p style="font-size:30px;font-weight:bold;"> Gift for charity, humanitarian aid, or to benefit a cause.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/4.jpg' %}" alt="crowdfunding">
                <div class="carousel-caption">
                    <h1>Crowdfunding </h1>
                    <p style="font-size:30px;font-weight:bold;">Has been used to fund a wide range of for-profit, entrepreneurial ventures such as artistic and creative projects, medical expenses, travel, and community-oriented social entrepreneurship projects</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <end of Carousel slide> -->

    <!-- carosel controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <!-- ******************************** -->
    <!-- ******************************** -->

    <!-- /////////Top Rated Projects Over The World////////// -->

    <!-- ********************* 1ST Container of Projects************* -->
    <br>
    <div class="container fix_cont text-center ">
        <div class="row justify-content-center">
            <h1 style="background-color: rgb(95, 90, 90);text-align: center;margin-top:20px;">Highest Five Rated Projects All Over The World</h1>
            <div class="col-md-4" width="33.3%">
                <div class="card pro2">
                    <img class="card-img-left text-center" src="{% static 'home/images/6.jpg' %}" alt="project2" style="width:100% !important">
                    <div class="card-body">
                        <h5>Star Citizen Video Game Project</h5>
                        <p> Project still ongoing and its aim was to earn 2M $ But the amount raised now to 300M $</p>
                        <br>
                        <a href="#" class="btn btn-primary">See More</a>

                    </div>
                </div>
            </div>

            <div class="col-md-4" width="33.3%">
                <div class="card pro3">
                    <img class="card-img-center text-center" src="{% static 'home/images/7.jpg' %}" alt="project3" style="width:100%">
                    <div class="card-body" style="padding: 30px !important;">
                        <h5>EOS Blockchain Project</h5>
                        <p> EOS is a blockchain operating system designed to support commercial decentralized applications. The project started at June 1, 2018 and the amount raised now to 4M $
                        </p>
                        <a href="#" class="btn btn-primary">See More</a>

                    </div>
                </div>
            </div>

            <div class="col-md-4 " width="33.3%">
                <div class="card pro4">
                    <img class="card-img-right text-center" src="{% static 'home/images/8.jpg' %}" alt="project4" style="width:100%">
                    <div class="card-body">
                        <h5>Filecoin Blockchain Project</h5>
                        <p> Filecoin is a decentralized data storage application , project started at September 7, 2017 and the amount raised now to 257M $</p>
                        <a href="#" class="btn btn-primary">See More</a>

                    </div>
                </div>
            </div>
        </div>


        <!-- *****************************2nd container of projects************* -->

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card pro5">
                    <img class="card-img-left text-center" src="{% static 'home/images/9.jpg' %}" alt="project5" style="width:450px">
                    <div class="card-body">

                        <h5>Tezos Blockchain Project</h5>
                        <p> Tezos is a self-governing blockchain , project started at July 14, 2017 and the amount raised now to 232M $</p>
                        <a href="#" class="btn btn-primary">See More</a>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card pro6">
                    <img class="card-img-right text-center" src="{% static 'home/images/10.jpg' %}" alt="project6" style="width:100%">
                    <div class="card-body " style="padding: 20px !important;">
                        <h5>Sirin Labs (SRN) Mobile Project</h5>
                        <p> project started at December, 2017 and the amount raised now to 158M $</p>
                        <a href="#" class="btn btn-primary">See More</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of containers -->

    <br><br>

    <!-- ********************* Highest Five Rated ************* -->
    <div class="container fund_raise text-center">
        <h1 style="background-color: rgb(95, 90, 90);">Highest Five Rated Projects</h1>
        <div class="row justify-content-center">
            {% for project in highest_five_rated %}
            <div class="col-md-4 ">
                <div class="card fund1 ">
                    <img class="card-img-left text-center" src="{% static 'home/images/11.jpg' %}" alt="fundraise1" style="width:100%">
                    <div class="card-body" style="width:90%;height:100%;">
                        <h5>{{project.title}}</h5>
                        <p style="font-size:20px;color:rgb(98, 19, 9);background-color: khaki;">
                            <b>Details of project</b><br>{{project.details}}</p>
                        <h5>created at: {{project.created_at}}</h5>
                        <h5>start time: {{project.start_date}}</h5>
                        <h5>end at: {{project.end_date}}</h5>
                        <h5>total rate: {{project.total_rate}}</h5>
                        <br>
                        <a href="#" class="btn btn-dark">
                            <h6>Target: {{project.target}}</h6>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>

    <!-- **********************End Of FunRaiser**************** -->


    <!-- ********************* last five projects ************* -->

    <div class="container feat_pro text-center">

        <h1 style="background-color: rgb(95, 90, 90)">top Last five projects</h1>
        <div class="row justify-content-center">
            {% for project in lastest_five %}
            <div class="col-md-4" width="33.3%">
                <div class="card ft1">
                    <img class="card-img-left text-center" src="" alt="">
                    <div class="card-body">
                        <h3>{{project.title}}</h3>
                        <p style="font-size:20px;color:rgb(98, 19, 9);background-color: khaki">
                            <b>Details of project</b><br>{{project.details}}</p>
                        <h5>created at: {{project.created_at}}</h5>
                        <h5>start time: {{project.start_date}}</h5>
                        <h5>end at: {{project.end_date}}</h5>
                        <h5>total rate: {{project.total_rate}}</h5>
                        <br>
                        <a href="#" class="btn btn-dark">
                            <h6>Target: {{project.target}}</h6>
                        </a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>

    <!-- end of 5 list last Project container -->


    <!-- end of 5 list  Featured Project containers -->

    <!-- **************************** -->

    <!-- *********************  lists of Featured Projects ************* -->
    <div class="container fix_pro text-center">
        <h1 style="background-color: rgb(95, 90, 90)">top 5 Featured projects</h1>
        <div class="row justify-content-center">
            {% for project in featured_projects %}
            <div class="col-md-3" width="33.3%">
                <div class="card ls1">
                    <img class="card-img-left text-center" src="" alt="">
                    <div class="card-body ">
                        <h3>{{project.title}}</h3>
                        <p style="font-size:20px;color:rgb(98, 19, 9);background-color: khaki">
                            <b>Details of project</b><br>{{project.details}}</p>
                        <h5>created at: {{project.created_at}}</h5>
                        <h5>start time: {{project.start_date}}</h5>
                        <h5>end at: {{project.end_date}}</h5>
                        <h5>total rate: {{project.total_rate}}</h5>
                        <br>
                        <a href="#" class="btn btn-dark">
                            <h5>target: {{project.target}}</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!---------end--------->


    <!-- *******************Catigories****************** -->
    <div class="container text-center">
        <h1 style="background-color: rgb(95, 90, 90)">Categories</h1>
        <br>
        <button type="button" class="btn btn-primary">Donate To Blind People</button>

        <br>
    </div>

    <!-- //////////////////////////////////End oF Catigories////////////////// -->



</div>


{% endblock %}