{% extends 'home/index.html' %} {% block content %}
<div class="test" style="height:100vh; text-align: center; padding-top: 150px;">
    <h1>{{search_result.title}}</h1>
    <h6>{{search_result.details}}</h6>
    <h6>{{search_result.target}}</h6>
    <h6>{{search_result.created_at}}</h6>
    <h6>{{search_result.start_date}}</h6>
    <h6>{{search_result.end_date}}</h6>
    <h6>{{search_result.category_id.cat_name}}</h6>
    <h6>{{search_result.user_id.first_name}}</h6>
    <h6>
        {% for tag in pData.tags.all%}
        <li class="list-group-item">
            <a href="{% url 'show_tag' tag.name %}">{{tag.name}}</a>
        </li>
        {% endfor%}
    </h6>
</div>



{% endblock %}